= turbo_frame_tag "tab_content" do
  = render Presentable::DescriptionComponent.new(object: provider,
                              question: nil,
                              preview: provider.suspended? || local_assigns[:preview])
