
= link_to _("Scientific Domains"), backoffice_other_settings_scientific_domains_path
= link_to _("Categories"), backoffice_other_settings_categories_path
= link_to _("Platforms"), backoffice_other_settings_platforms_path
= link_to _("Vocabularies"), backoffice_other_settings_vocabularies_path
